<a href="https://colab.research.google.com/github/2024000500055-coder/publice-view/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "Refat Hossen" #str type data means text type data
print("Name type:", type(name))
age = 22
print("Age type:", type(age))#int type data cause it is a natural number
gpa = 3.83
print("GPA type:", type(gpa))
is_student = True
print("Is Student type:", type(is_student))

Name type: <class 'str'>
Age type: <class 'int'>
GPA type: <class 'float'>
Is Student type: <class 'bool'>

In [ ]:
# Convert string "123" to integer
num_str = "123"
num_int = int(num_str)
print("String to Integer:", num_int)
# Convert integer 456 to string
num = 456
num_string = str(num)
print("Integer to String:", num_string)
# Convert float 3.99 to integer
float_num = 3.99
int_num = int(float_num)
print("Float to Integer:", int_num)
print("Decimal part removed (no rounding, just cut off)")
# Convert 1 and 0 to boolean
print("1 to bool:", bool(1))
print("0 to bool:", bool(0))

String to Integer: 123
Integer to String: 456
Float to Integer: 3
Decimal part removed (no rounding, just cut off)
1 to bool: True
0 to bool: False

In [ ]:
x = 17
y = 5
print( x + y)
print( x - y)
print( x * y)
print(x / y)
print(x % y)
print( x ** y)
print("17 > 5:", x > y)
print("17 == 5:", x == y)
print("17 != 5:", x !=y)

22
12
85
3.4
2
1419857
17 > 5: True
17 == 5: False
17 != 5: True

In [ ]:
name = "python programming"
print("Uppercase:", name.upper())
print("Title Case:", name.title())
new_name = name.replace("programming", "language")
print("After Replace:", new_name)
print("Total Characters:", len(name))

Uppercase: PYTHON PROGRAMMING
Title Case: Python Programming
After Replace: python language
Total Characters: 18

In [ ]:
my_name = "Refat"
my_age = 22
my_gpa = 3.84
print(f"My name is {my_name}, I am {my_age} years old, and my GPA is
{my_gpa}")

In [ ]:
age = int(input("Enter your age: "))
if age < 0:
 print("Invalid age")
elif age > 18:
 print("You are an adult")
elif 13 <= age <= 17:
 print("You are a teenager")
else:
 print("You are a child")

In [ ]:
number = int(input("Enter a number: "))
print("Even" if number % 2 == 0 else "Odd")